# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
venv/
env/
fastapi_env

# IDE/Editor files
.vscode/
.idea/

# Dependency directories
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
